*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #121212;
    color: #fff;
    height: 100dvh;
    overflow: hidden;
}

/* --- Estructura grid ----- */
.app-container {
    display: grid;
    grid-template-columns: 240px 1fr; /* Sidebar fijo / Resto flexible */
    grid-template-rows: 1fr 90px; /* Contenido / Espacio para el player (90px de alto) */
    height: 100%;
}

/* --- 1. SIDEBAR ----- */
.sidebar {
    background-color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.logo i {
    color: #1da1b9;
}

.menu ul, .playlists ul {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    transition: 0.3s;
}

.menu a:hover {
    color: #fff;
}

.menu .active a {
    color: #fff;
    font-weight: 700;
}

/* Sección de Playlists */
.section-title {
    font-size: 12px;
    letter-spacing: 2px;
    color: #b3b3b3;
    margin-bottom: 15px;
}

.playlists li {
    color: #b3b3b3;
    font-size: 14px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.playlists li:hover {
    color: #fff;
}

/* Cuadraditos de iconos (Crear y Me gusta) */
.plus-box, .heart-box {
    width: 24px;
    height: 24px;
    background-color: #1da1b9;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.plus-box {
    background: linear-gradient(135deg, #1da1b9, #ffffff);
    color: #000;
}

.heart-box {
    background: linear-gradient(135deg, #450af5, #c4efd9);
    color: #fff;
}

hr {
    border: none;
    border-top: 1px solid #282828;
    margin: 10px 0;
}

/* Scroll solo para la lista de playlists */
.playlist-scroll {
    height: 200px;
    overflow-y: auto;
}

/* Estilos para la barra de desplazamiento */
.playlist-scroll::-webkit-scrollbar {
    width: 7px;
}

.playlist-scroll::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

/* ----- 2. MAIN CONTENT ----- */
.main-content {
    background-color: #121212;
    border-radius: 10px;
    margin: 10px 10px 0 0;
    overflow-y: auto;
    position: relative;
    background: linear-gradient(to bottom, #167f92 0%, #121212 45%);
}

.top-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.arrows .circle {
    background-color: rgba(0, 0, 0, 0.7);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.user-pill {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.content-padding {
    padding: 20px;
}

/* Grilla de álbumes */
.cards-grid {
    display: grid;
    /* Columnas automaticas responsivas */
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
    margin-top: 20px;
}

/* Tarjetas de Música */
.music-card {
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.music-card:hover {
    background-color: #282828;
}

.img-container {
    position: relative;
    margin-bottom: 16px;
    
}

.music-card img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* Icono de play en la imagen */
.play-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    background-color: #1da1b9c3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(10px);
    transition: 0.3s;
}

/* Mostrar el botón de play al pasar el ratón */
.music-card:hover .play-btn {
    opacity: 1;
    transform: translateY(0);
}

.music-card h3 {
    font-size: 16px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Pone "..." si el texto es muy largo */
}

.music-card p {
    font-size: 14px;
    color: #b3b3b3;
}

/* ----- 3. PLAYER ----- */
.player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px; /* La misma altura que la fila del grid */
    background-color: #181818;
    border-top: 1px solid #282828;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Izquierda: Información de la canción */
.player-left {
    display: flex;
    align-items: center;
    width: 30%;
    gap: 15px;
}

.player-left img {
    width: 56px;
    height: 56px;
    border-radius: 4px;
}

.song-info h4 {
    font-size: 14px;
    margin-bottom: 3px;
    cursor: pointer;
}

.song-info p {
    font-size: 12px;
    color: #b3b3b3;
    cursor: pointer;
}

.song-info h4:hover, .song-info p:hover {
    text-decoration: underline;
}

/* Centro: Controles de reproducción */
.player-center {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.player-controls {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    color: #b3b3b3;
}

.play-circle {
    width: 32px;
    height: 32px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.play-circle:hover {
    transform: scale(1.1);
}

/* Barra de progreso */
.progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #b3b3b3;
}

.progress-bar {
    height: 4px;
    width: 100%;
    background-color: #4f4f4f;
    border-radius: 2px;
    cursor: pointer;
    position: relative; /* Para el progreso real */
}

.progress-fill {
    height: 100%;
    width: 30%; /* Ejemplo de progreso */
    background-color: #b3b3b3;
    border-radius: 2px;
    position: relative;
}

/* Cuando paso el mouse por la barra, se pone de TU COLOR */
.progress-container:hover .progress-fill {
    background-color: #1da1b9;
}

/* El puntito circular en la barra de progreso */
.progress-fill::after {
    content: '';
    position: absolute;
    right: -6px;
    top: -3px;
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-radius: 50%;
    display: none; /* Oculto por defecto */
}

.progress-container:hover .progress-fill::after {
    display: block; /* Lo muestro al pasar el mouse */
}

/* Derecha: Iconos adicionales */
.player-right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    color: #b3b3b3;
}

.volume-box {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100px; /* Ancho fijo para el control de volumen */
}

.volume-bar {
    width: 100%;
}

/* Iconos generales con efecto hover */
.icon-hover:hover {
    color: #fff;
    cursor: pointer;
}


/* ----- ESTILOS BASE DEL MENU MOVIL (Oculto por defecto) ----- */





/* ----- MEDIA QUERIES (Transiciones responsivas) ----- */
@media screen and (max-width: 768px) {

    /* 1. Layout general */
    .app-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto; /* Contenido / Sidebar / Player */
    }

    /* 2. Ocultar cosas de escritorio */
    .sidebar {
        display: none;
    }

    /* 3. Ajustar contenido principal */
    .main-content {
        margin: 0; /* Quitar margen */
        border-radius: 0; /* Quitar bordes redondeados */
        padding-bottom: 140px; /* Espacio para el player */
    }

    /* 4. Ajustar player */
    .player-bar {
        width: 99%;
        bottom: 57px; /* Subir un poco el player */
        height: 60px; /* Reducir altura */
        padding: 0 10px;
        background-color: #181818;
        border-bottom: 1px solid #282828;
        border-radius: 10px;
    }

    /* Ocultamos lo que no entra en el player */
    .player-right {
        display: none;
    }
    .progress-container {
        display: none;
    }

    .fa-heart {
        display: none;
    }

    /* Simplificamos los controles */
    .fa-shuffle, .fa-backward-step, .fa-forward-step, .fa-repeat {
        display: none;
    }

    .player-left {
        width: 60%;
    }
    .player-center {
        width: 40%;
        align-items: flex-end;
    }

    /* 5. Mostrar el menú móvil */
    .mobile-nav{
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;    
        height: 57px;
        background-color: #181818e8;
        justify-content: space-around;
        align-items: center;
        z-index: 200;
    }

    .mobile-nav i {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        color: #888686;
        font-size: 20px;
    }

    .mobile-nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #888686;
    }
}